.btn-crud{
    border: 1px solid lightblue !important;
    text-decoration: none !important;
    background-color: lightblue;
}

#app-container {
    /* width: 900px; */
    position: relative;
}
 
#selected-contact {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgb(1, 100, 100);
    color: antiquewhite;
    padding: 8px;
    border-radius: 2px;
}

.special-row{
    background-color: firebrick !important;
}

#form {
    width: 600px;
}

.form-container{
    padding: 15px;
    display: flex;
    justify-content: center;
}