<!-- <dx-data-grid
    [dataSource]="contactList"
    keyExpr="id">
</dx-data-grid> -->

<h1 style="text-align: center; font-weight: bold">Contact Information</h1>

<dx-data-grid
  [dataSource]="contactList"
  [columnAutoWidth]="true"
  (onInitNewRow)="onInitNewRow($event)"
  (onRowUpdated)="onEditRow($event)"
  (onRowInserted)="onAddRow($event)"
  (onRowRemoved)="onDeleteRow($event)"
>
  <dxo-editing
    mode="popup"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [allowAdding]="true"
    [useIcons]="true"
  >
    <dxo-form labelLocation="top">
      <dxi-item itemType="group" caption="Contact Data">
        <dxi-item dataField="id"> </dxi-item>
        <dxi-item dataField="name"></dxi-item>
        <dxi-item dataField="email"></dxi-item>
        <dxi-item dataField="phoneNumber"></dxi-item>
      </dxi-item>
    </dxo-form>

    <dxo-popup
      [showTitle]="true"
      title="Enter Contact Data"
      [width]="700"
      [height]="525"
    ></dxo-popup>
  </dxo-editing>

  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-search-panel [visible]="true" [width]="300"></dxo-search-panel>

  <dxo-paging [pageSize]="10" [pageIndex]="0"></dxo-paging>
  <dxo-pager [showNavigationButtons]="true" [showInfo]="true"> </dxo-pager>

  <dxo-load-panel [enabled]="true"> </dxo-load-panel>

  <!-- <dxo-scrolling
    mode="standard"
    [useNative]="false"
    [scrollByContent]="true"
    [scrollByThumb]="true"
    showScrollbar="onHover"
  >
  </dxo-scrolling> -->

  <dxo-toolbar>
    <dxi-item name="addRowButton" showText="always"></dxi-item>
    <dxi-item name="searchPanel"></dxi-item>
  </dxo-toolbar>

  <dxi-column
    dataField="id"
    sortOrder="asc"
    [visible]="false"
    [allowEditing]="false"
  >
  </dxi-column>

  <dxi-column dataField="name" alignment="center">
    <dxi-validation-rule
      type="required"
      message="The Name should not be Empty."
    ></dxi-validation-rule>
    <dxi-validation-rule
      type="pattern"
      pattern="^[a-zA-Z]+$"
      message="The name is not properly formated"
    ></dxi-validation-rule>
  </dxi-column>

  <dxi-column dataField="email" alignment="center">
    <dxi-validation-rule
      type="required"
      message="The Email should not be Empty."
    ></dxi-validation-rule>
    <dxi-validation-rule
      type="email"
      message="Wrong Email Pattern."
    ></dxi-validation-rule>
  </dxi-column>

  <dxi-column dataField="phoneNumber" alignment="center" [allowSorting]="false">
    <dxi-validation-rule
      type="required"
      message="The Phone Number should not be Empty."
    ></dxi-validation-rule>
    <dxi-validation-rule
      type="stringLength"
      [max]="10"
      [min]="10"
      message="The Phone number must contain 10 digits."
    ></dxi-validation-rule>
  </dxi-column>

  <dxi-column type="buttons" caption="Action">
    <dxi-button name="edit" cssClass="btn-crud"></dxi-button>
    <dxi-button name="delete" cssClass="btn-crud"></dxi-button>
  </dxi-column>
</dx-data-grid>
