<div id="container">
  <dx-menu style="background-color: cadetblue !important">

        <dxi-item>
          <dx-button
            text="Contact"
            style="
              border: none !important;
              background-color: cadetblue !important;
            "
            (onClick)="onContactRouter()"
          ></dx-button>
        </dxi-item>

        <dxi-item>
          <dx-button
            text="Task"
            style="
              border: none !important;
              background-color: cadetblue !important;
            "
            (onClick)="onTaskRouter()"
          ></dx-button>
        </dxi-item>

        <dxi-item>
          <dx-button
            text="Logout"
            style="
              border: none !important;
              background-color: orchid !important;
            "
            (onClick)="onClickLogout()"
          ></dx-button>
        </dxi-item>

  </dx-menu>
</div>
